[flake8]
exclude = .direnv,.venv,venv
ignore =
    # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    E501,
    # line break before binary operator (black disagrees)
    W503,
    # multiple statements on one line (black disagrees, and this is in the ignore defaults for flake8)
    E704
max-line-length = 88
per-file-ignores =
    gunicorn.conf.py:INP001
    manage.py:INP001
