*.pyc
.env
.idea/
.coverage
htmlcov/
.DS_Store
db.sqlite3

# just completion files
just.bash
just.elvish
just.fish
just.powershell
just.zsh

# downloaded output content html files
gateway/templates/gateway/output-content/
