# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
bs4
django
django-csp
django-extensions
django-permissions-policy
django-structlog
django-vite
environs[django]
furl
gunicorn
lxml
osgithub
requests-cache
sentry-sdk
whitenoise[brotli]
