bs4
environs[django]
django-extensions
django-structlog
django-vite
furl
gunicorn
PyGithub
django-redis
requests-cache
social-auth-core[openidconnect]
social-auth-app-django
sentry-sdk
whitenoise[brotli]
