# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in
bs4
environs[django]
django-extensions
django-structlog
django-vite
furl
gunicorn
lxml
requests-cache
osgithub
sentry-sdk
whitenoise[brotli]
