<footer class="flex-shrink-0 container mx-auto px-4 bg-white border-t border-gray-200 text-sm">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav>
      <ul class="-mx-5 -my-2 text-center md:flex md:flex-wrap md:justify-center">
        <li class="px-5 py-2">
          <a href="https://www.opensafely.org/" class="text-oxford-800 hover:text-oxford-600 font-semibold hover:underline">
            OpenSAFELY
          </a>
        </li>

        <li class="px-5 py-2">
          <a href="https://www.opencodelists.org/" class="text-oxford-800 hover:text-oxford-600 font-semibold hover:underline">
            OpenCodelists
          </a>
        </li>

        <li class="px-5 py-2">
          <a href="https://www.bennett.ox.ac.uk/" class="text-oxford-800 hover:text-oxford-600 font-semibold hover:underline">
            Bennett Institute for Applied Data Science
          </a>
        </li>

        <li class="px-5 py-2">
          <a href="https://www.ox.ac.uk/" class="text-oxford-800 hover:text-oxford-600 font-semibold hover:underline">
            University of Oxford
          </a>
        </li>
      </ul>
    </nav>

    <p class="mt-8 text-center text-sm text-gray-500 mx-auto max-w-xl">
      &copy; University of Oxford for the Bennett Institute for Applied Data Science {% now 'Y' %}. This work may be copied freely for non-commercial research and study. If you wish to do any of the other acts restricted by the copyright you should apply in writing to <a class="text-oxford-800 hover:text-oxford-600 font-semibold hover:underline" href="mailto:ebmdatalab@phc.ox.ac.uk">ebmdatalab@phc.ox.ac.uk</a>.
    </p>
  </div>
</footer>
