<div class="fixed top-0 min-w-full lg:relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200">
  <div class="flex-1 px-4 flex justify-between">
    <div class="flex-1 flex ml-16 lg:ml-0">
      <div class="w-full flex">
        <div class="relative w-full flex items-center">
          <span class="text-base md:text-xl font-semibold">Reports</span>
        </div>
      </div>
    </div>

    <div class="ml-4 flex items-center lg:ml-6">
      {% if user.is_authenticated %}
        <details-utils close-click-outside close-esc>
          <details class="group/account" data-details>
            <summary class="inline-flex justify-center w-full rounded-md px-1 py-1 overflow-hidden bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-oxford-700">
              <span class="sr-only">Options</span>
              <span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-gray-100">
                {% include "icons/solid/user.svg" with htmlClass="h-full w-full text-gray-300 relative -bottom-1" %}
              </span>
            </summary>
            <div class="origin-top-right absolute right-0.5 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none">
              <div class="px-4 py-3">
                <p class="text-sm">
                  Logged in as
                </p>
                <p class="text-sm font-medium text-gray-900 truncate">
                  {{ request.user.username }}
                </p>
              </div>
              {% if request.user.is_staff %}
                <div class="py-1">
                  <a href="{% url 'admin:index' %}" class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-700" role="menuitem" >
                    Admin
                  </a>
                </div>
              {% endif %}
              <div class="py-1">
                <a href="{% url 'logout' %}" class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-700" role="menuitem" >
                  Log out
                </a>
              </div>
            </div>
          </details>
        </details-utils>
      {% else %}
        {% if show_login %}
          <a href="{% url 'login' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-oxford-600 hover:bg-oxford-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-700">
            Login
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
