{% load reports_tags %}
{% load static %}

<div class="fixed h-screen overflow-y-auto w-64 z-40 bg-oxford-800">
  <div class="flex items-center h-[63px] shrink-0 px-4 bg-white border-b border-r border-gray-200">
    <img alt="OpenSAFELY Logo" class="inline-block w-auto h-12 mr-auto" src="{% static 'logo.svg' %}">
  </div>
  <nav class="flex-1 px-2 py-4 bg-oxford-800">
    <div class="space-y-1">
      <a href="/" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md hover:bg-oxford-900">
        {% include "icons/outline/home.svg" with htmlClass="text-gray-300 mr-3 shrink-0 h-6 w-6" %}
        Home
      </a>
      <a href="mailto:team@opensafely.org" class="text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md hover:bg-oxford-900">
        {% include "icons/outline/mail-open.svg" with htmlClass="text-gray-300 mr-3 shrink-0 h-6 w-6" %}
        Contact
      </a>
    </div>
    <div class="mt-10">
      <h2 class="px-3 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        Reports
      </h2>
      <div class="mt-2">
        <nav class="flex-1 px-2 bg-oxford-800" aria-label="Sidebar">
          <ul>
            {% for category in categories %}
              <li>
                <details
                  class="group"
                  {% if report.category.id == category.id %}open="true"{% endif %}
                >
                  <summary
                    class="
                      cursor-pointer text-white w-full flex items-center pr-2 py-2 text-left text-sm font-medium rounded-md relative z-10
                      hover:bg-oxford-900 hover:text-gray-50
                      focus:outline-hidden focus:ring-2 focus:ring-oxford-400
                    "
                  >
                    {% include "icons/outline/chevron-right.svg" with htmlClass="text-gray-300 mr-2 shrink-0 h-5 w-5 transform transition-colors ease-in-out duration-150 group-hover:text-gray-400 group-open:rotate-90" %}
                    {{ category.name }}
                  </summary>
                  <ul>
                    {% category_reports_for_user category as category_reports %}
                    {% for single_report in category_reports %}
                      <li>
                        <a
                          href="{{ single_report.get_absolute_url }}"
                          class="
                            w-full flex items-center pl-8 pr-2 py-2 rounded-md text-sm font-medium text-white
                            hover:bg-oxford-900 hover:text-gray-50
                            {% if single_report.id == report.id %}
                              bg-oxford-700 bg-opacity-50
                            {% endif %}
                          ">
                          {{ single_report.menu_name }} {% if single_report.is_draft %}(Draft){% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </details>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</div>
