{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Output Explorer</h1>
    <p>
        OpenSAFELY is a new secure analytics platform for electronic health records in the NHS,
        created to deliver urgent results during the global COVID-19 emergency. It is now successfully
        delivering analyses across more than 58 million patients’ full pseudonymised primary care NHS
        records. All our analytic software is open for security review, scientific review, and re-use.
    </p>
    <p>You can read about the principles of OpenSAFELY <a href="https://opensafely.org/principles/">here</a>.</p>
    <p>Use the side menu to explore selected outputs from OpenSAFELY.</p>

    <h2>Recent activity</h2>
    <ul>
        {% for output in recent_activity %}
            <li>
                <a href="{{ output.get_absolute_url }}">{{ output.menu_name }}</a> | {{ output.activity }} | {{ output.activity_date|timesince:today }} ago
            </li>
        {% endfor %}
    </ul>
{% endblock %}
