{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="mt-2">OpenSAFELY Dashboards</h1>
    {% if request.user.is_authenticated %}
    <p>Logged in as <strong>{{ request.user.profile.display_name }} ({{ request.user.username }})</strong></p>
        {% if request.user.profile.organisations.exists %}
            <p>
                Organisations:
                <ul>
                    {% for organisation in request.user.profile.organisations.all %}
                    <li><a href="{% url 'gateway:organisation_detail' organisation.code %}">{{ organisation.name }}</a></li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        <p><a class="btn btn-dark"  href="{% url "gateway:logout" %}">Logout</a></p>
    {% else %}
        <p>Login with <a class="btn btn-primary" href="{% url "social:begin" "nhsid" %}">NHS Identity</a></p>
    {% endif %}
{% endblock %}
