@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
:root {
  --animation-duration: 1s;
  --transiton-duration: 0.5s;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --animation-duration: 0;
    --transiton-duration: 0;
  }

  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 1024px) {
  html {
    scroll-padding-top: 4rem;
  }
}

#skip-link {
  @apply absolute z-50 top-4 left-4 px-8 py-4 rounded-lg bg-oxford-200 border-2 border-oxford-700 font-semibold text-oxford-800 hover:bg-oxford-50 hover:text-oxford-900 hover:border-oxford-600 focus:bg-oxford-50 focus:text-oxford-900 focus:border-oxford-600;
}

#docNav,
.docNav {
  @apply m-0 p-0 list-none bg-oxford-50 pt-14 pb-4 px-5 rounded-lg relative overflow-hidden;

  &::before {
    @apply absolute top-0 left-0 z-10 w-auto h-auto py-2 px-4 bg-oxford-900 text-white rounded-br-md font-semibold text-lg;
    content: "Menu";
  }

  li {
    @apply my-1;

    a {
      @apply text-lg;
    }
  }
}

#menuBtn {
  @apply absolute bottom-0 right-8 px-4 py-2 border border-transparent text-base font-medium rounded-t-md text-white bg-oxford-700 hover:bg-oxford-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500;
}

#content {
  details {
    @apply block my-2 border border-oxford-400 bg-oxford-50 rounded-lg overflow-hidden;

    &:not([open]) {
      summary {
        @apply hover:bg-oxford-100 hover:text-oxford-900;
      }
    }

    summary {
      @apply py-2 px-4 cursor-pointer text-lg font-semibold text-oxford-600;
    }

    .details__wrapper {
      @apply px-8 m-0;

      > *:first-child {
        @apply mt-0;
      }
    }
  }
}

/**
 * Oxford Prose
 */
.prose-oxford {
  @apply text-gray-800;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800;
  }

  ul > li::before {
    @apply bg-gray-800;
  }

  pre {
    @apply bg-gray-50 text-gray-700;
  }

  thead th {
    @apply text-left;
  }

  code::before,
  code::after {
    content: "";
  }

  a,
  a strong {
    @apply text-oxford-600 font-semibold;
  }

  a:hover,
  a:hover strong {
    @apply text-oxford underline;
  }
}

[data-details] summary {
  -webkit-appearance: none;
  display: flex;

  &::-webkit-details-marker {
    display: none;
  }
}
/*! purgecss end ignore */
