/*! purgecss start ignore */
.anchor-link:link {
  text-decoration: none;
  padding: 0px 20px;
  visibility: hidden;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
  visibility: visible;
}

.overflow-wrapper {
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: white;
  background-position: 0 0, 100%, 0 0, 100%;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  overflow-x: auto;

  @media (min-width: 768px) {
    background: none;
  }

  table {
    min-width: 640px;

    @media (min-width: 768px) {
      background: none;
    }
  }

  .prose & pre {
    background-color: transparent;
    overflow-x: unset;
  }
}

//
// Custom styles
//

// Custom navigation menu
#docNav {
  @apply m-0 p-0 list-none bg-oxford-50 pt-14 pb-4 px-5 rounded-lg relative overflow-hidden;

  &::before {
    @apply absolute top-0 left-0 z-50 w-auto h-auto py-2 px-4 bg-oxford-900 text-white rounded-br-md font-semibold text-lg;
    content: "Menu";
  }

  li {
    @apply my-1;

    a {
      @apply text-lg;
    }
  }
}

#menuBtn {
  @apply fixed bottom-0 right-8 px-4 py-2 border border-transparent text-base font-medium rounded-t-md text-white bg-oxford-700 hover:bg-oxford-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-oxford-500;
}

// Custom <details /> element
details {
  @apply block my-2 border border-oxford-400 bg-oxford-50 rounded-lg overflow-hidden;

  &:not([open]) {
    summary {
      @apply hover:bg-oxford-100 hover:text-oxford-900;
    }
  }

  summary {
    @apply py-2 px-4 cursor-pointer text-lg font-semibold text-oxford-600;
  }

  .details__wrapper {
    @apply px-8 m-0;

    > *:first-child {
      @apply mt-0;
    }
  }
}
/*! purgecss end ignore */
