<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if request.user.is_authenticated %}
        <p>Logged in as {{ request.user.profile.display_name }} ({{ request.user.username }})</p>
        <p><a href="{% url "gateway:logout" %}">Logout</a></p>
    {% else %}
        <p>Login with <a href="{% url "social:begin" "nhsid" %}">NHS Identity</a></p>
    {% endif %}
</body>
</html>
