{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% include "partials/seo.html" %}

  {% vite_hmr_client %}
  {% vite_asset 'assets/scripts/main.js' %}
  <script defer data-domain="reports.opensafely.org" data-api="/pa/api/event" src="/pa/js/script.js"></script>

  {% block extra_head %}{% endblock %}

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
</head>
<body>
  <div x-data="{ open: false }" @keydown.window.escape="open = false" class="pt-12 lg:pt-0 lg:h-screen flex overflow-hidden bg-white">
    {% include "partials/sidebar.html" %}

    <div class="flex flex-col w-0 flex-1 overflow-hidden">
      {% include "partials/header.html" %}

      <div class="flex flex-col flex-1 relative lg:overflow-y-auto overflow-x-hidden">
        <main class="flex-auto flex-shrink-0 pb-16 bg-blue-50 bg-opacity-30">
          {% include "partials/alert.html" %}
          {% block content %}{% endblock content %}
        </main>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>

  {% block extra_js %}{% endblock %}

</body>
</html>
