{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en" x-data="{ isSidebarVisible: false }" @keydown.window.escape="isSidebarVisible = false">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% block meta %}
    {% with meta_title="OpenSAFELY: Reports" meta_description="Reports related to the COVID-19 pandemic, curated by the DataLab at the University of Oxford, working on behalf of NHS England." %}
      <title>{{ meta_title }}</title>
      <meta name="description" content="{{ meta_description }}">
      {% include "partials/seo.html" %}
    {% endwith %}
  {% endblock %}

  {% vite_hmr_client %}

  {# Modern browsers #}
  <script async defer type="module" src="{% static 'vendor/alpine.js' %}"></script>
  {% vite_asset 'assets/src/scripts/main.js' %}

  {% block extra_head %}{% endblock %}

  {% include "partials/fonts.html" %}

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
</head>
<body class="lg:overflow-y-hidden">
  <a id="skip-link" href="#content" class="sr-only focus:not-sr-only">
    Skip to content
  </a>
  <div class="pt-12 lg:pt-0 lg:h-screen flex overflow-hidden bg-white">
    {% include "partials/sidebar.html" %}

    <div class="ie-block flex flex-col w-0 flex-1 overflow-hidden">
      {% include "partials/header.html" %}

      <div class="flex flex-col flex-1 relative lg:overflow-y-auto overflow-x-hidden">
        <main class="flex-auto flex-shrink-0 pt-6 pb-16 bg-gray-50" id="content">
          {% include "partials/alert.html" %}
          {% block content %}{% endblock content %}
        </main>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>

  {# Legacy browsers #}
  <script nomodule src="{% static 'vendor/alpine-ie11.js' %}"></script>
  {% vite_legacy_polyfills %}
  {% vite_legacy_asset 'assets/src/scripts/main-legacy.js' %}

  {% block extra_js %}{% endblock %}
</body>
</html>
