{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% block meta %}
    {% with meta_title="OpenSAFELY: Reports" meta_description="Reports related to the COVID-19 pandemic, curated by the DataLab at the University of Oxford, working on behalf of NHS England." %}
      <title>{{ meta_title }}</title>
      <meta name="description" content="{{ meta_description }}">
      {% include "partials/seo.html" %}
    {% endwith %}
  {% endblock %}

  {% vite_hmr_client %}

  {# Modern browsers #}
  <script async defer type="module" src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha512-No22QdEJ4zlXvdQDpm6oeXcjwajpNxvnstx6NEU/5qZFysa5gsgj/bSfAFpSc9Za5LjbgQLRXyCeY53aWmk8ZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% vite_asset 'assets/scripts/main.js' %}

  {% block extra_head %}{% endblock %}

  {% include "partials/fonts.html" %}

  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
</head>
<body class="lg:overflow-y-hidden">
  <div x-data="{ open: false }" @keydown.window.escape="open = false" class="pt-12 lg:pt-0 lg:h-screen flex overflow-hidden bg-white">
    {% include "partials/sidebar.html" %}

    <div class="ie-block flex flex-col w-0 flex-1 overflow-hidden">
      {% include "partials/header.html" %}

      <div class="flex flex-col flex-1 relative lg:overflow-y-auto overflow-x-hidden">
        <main class="flex-auto flex-shrink-0 pb-16 bg-gray-50">
          {% include "partials/alert.html" %}
          {% block content %}{% endblock content %}
        </main>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>

  {# Legacy browsers #}
  <script nomodule src="https://polyfill.io/v3/polyfill.min.js"></script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.8.3/system.min.js" integrity="sha512-dGQpe9Hb1dXjYT7TSrTS6qnRmzrhY9wsyRtN6BR2R+XgiXf5cpgvWVGPWptrarkfoldzpIkl7adWEddhoKsX6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine-ie11.js" integrity="sha512-KA2IvqHkHQMVbJlMnypXkjiHFkYAVaYSd193ckoVZYZ7AH2qZqlv7odiJcjAF2lECSEHptHFrrKaIWCXqZCXHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  {# {% vite_asset "vite/legacy-polyfills" scripts_attrs=scripts_attrs %} #}
  {% vite_asset 'assets/scripts/main-legacy.js' scripts_attrs=scripts_attrs %}

  {% block extra_js %}{% endblock %}
</body>
</html>
