name: Update python dependencies

on:
  workflow_dispatch:
  schedule:
    - cron:  "36 23 * * *"

permissions:
  contents: read
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: "opensafely-core/setup-action@v1"
      with:
        python-version: "3.12"
        install-just: true

    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: generate-token
      with:
        app-id: 1031449  # opensafely-core Create PR app
        private-key: ${{ secrets.CREATE_PR_APP_PRIVATE_KEY }}

    - uses: bennettoxford/update-dependencies-action@9957def9448f87b412a3968f5fc1c8a2d8aad1c2 # v1
      with:
        token: ${{ steps.generate-token.outputs.token }}
